* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Saira Condensed", sans-serif;
  /* background-color: black; */
}

header {
  width: 100%;
  height: 150px;
  padding: 25px;
  border: 2px solid white;
  line-height: 100px;
  text-align: center;
  color: white;
  position: fixed;
  background-color: #0e1234;
}

header a {
  color: white;
  padding: 10px 100px;
  font-size: 40px;
  border: 5px solid white;
}

.evento {
  background-color: #0e1234;
}

.evento img {
  width: 90%;
  height: 720px;
  margin: 180px 20px 20px 100px;
}

.sobre {
  background-color: #0e1234;
  color: white;
  font-size: 30px;
  text-align: center;
}

section .intro {
  margin: -10px 50px 50px;
  padding: 25px 50px;
  text-align: center;
}

img.chat {
  width: 50px;
  height: 50px;
  margin: 25px;
  position: fixed;
  right: 0;
  bottom: 0;
}

footer {
  height: 100%;
  width: 100%;
  line-height: 100px;
  text-align: center;
  background-color: whitesmoke;
  font-size: 30px;
}

span {
  color: white;
  text-decoration: none;
}
